<div gm-role="input">
    <input type="text" ng-model="user.name" placeholder="name">
    <input type="text" ng-model="user.gender" placeholder="gender">
</div>
<button gm-role="save" ng-click="user.save()">save</button>
<button gm-role="save" ng-click="user.delete()">delete</button>
<button gm-role="save" ng-click="user.action('ally')()">ally to</button>
<div gm-role="status">
    <div>status:</div>
    <ul>
        <li ng-repeat="(name, status) in user.$$actions">
            {{name}}:{{status}}
        </li>
    </ul>
</div>